body{
    background-color: #000;
    color: #fff;
}

.temp{
    position:absolute;
    top: 50%;
    left: 50%;
    translate: translateX(-50%) translateY(-50%);   
    align-items: center;
    justify-items: center;
}

.dayOpt{
    position: absolute;
    font-size: 30px;
    font-family: Orbitron;
    font-weight: bold;
    letter-spacing: 7px;
    top: 50%;
    left: 68%;
}

.clock{
    position: absolute;
    font-size: 80px;
    font-family: Orbitron;
    font-weight: bold;
    letter-spacing: 7px;
    top: 47%;
    left: 33%;
}

.today{
    position: absolute;
    font-size: 20px;
    font-family: Orbitron;
    font-weight: bold;
    letter-spacing: 7px;
    top: 43%;
    left: 33%;
}